<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/images/fedshed.svg" />
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/src-min/ace.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
